.roulette {
  background-image: url('/src/assets/roulette/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.slots {
  background-image: url('/src/assets/slot/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}